.cardImageTitle {
  position: relative;
}

.cardImageTitle .title {
  position: absolute;
  left: 4.6%;
  bottom: 17%;
  color: white;
  font-size: 48px;
  font-weight: 400;
  font-family: "Lato";
  text-transform: uppercase;
  z-index: 100;
}
