.about {
}

.containerContent {
  padding-left: 64px;
  padding-right: 64px;
}

.listTheFounders {
  background-color: #fbfbfb;
}

.listTheFounders h2 {
  padding-top: 107px;
  padding-bottom: 115px;
}
