.listFooter {
  background-color: #fbfbfb;
  padding: 40px 80px;
}

.footer {
  text-align: start;
  padding-bottom: 120px;
  font-size: 14px;
}

.footer .footer__title {
  padding: 12px 0px;
  font-weight: 700;
  font-size: 12px;
}
.footer .footer__subTitle {
  margin: 4px 0;
  font-size: 16px;
}

.footer .footer__input {
  padding: 10px 0;
  border-radius: 0 !important;
  background-color: #fbfbfb;
  border-bottom: 1px solid black !important;
}

.footer .footer__chevron {
  vertical-align: middle;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
}
